[submodule "lib/ZyklonProfiler"]
	path = lib/ZyklonProfiler
	url = git@github.com:gOps132/ZyklonProfiler.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/imgui-cmake"]
	path = lib/imgui-cmake
	url = https://github.com/Qix-/imgui.git
[submodule "lib/imgui-test"]
	path = lib/imgui-test
	url = https://github.com/gOps132/imgui.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/stb"]
	path = lib/stb
	url = git@github.com:gOps132/stb.git
[submodule "examples/Gravity/lib/polygon"]
	path = examples/Gravity/lib/polygon
	url = https://github.com/boostorg/polygon.git
[submodule "lib/cgal"]
	path = lib/cgal
	url = https://github.com/CGAL/cgal.git
[submodule "lib/voro"]
	path = lib/voro
	url = https://github.com/chr1shr/voro.git
