[submodule "lib/ZyklonProfiler"]
	path = lib/ZyklonProfiler
	url = git@github.com:gOps132/ZyklonProfiler.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/imgui-cmake"]
	path = lib/imgui-cmake
	url = https://github.com/Qix-/imgui.git
[submodule "lib/imgui-test"]
	path = lib/imgui-test
	url = https://github.com/gOps132/imgui.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git